.container {}

.about-me {
    margin-bottom: 50px;
}

.title-about {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-about i {
    display: flex;
    color: black;
    border: 2px solid #4ECCA3;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.title-about div h1{
    display: flex;
    border-bottom: 2px solid #4ECCA3;
    border-right: 2px solid #4ECCA3;
    border-top: 2px solid #4ECCA3;
    border-left: 2px solid transparent;
    border-radius: 20px;
    margin-left: -10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

}
.description-about {
    padding: 25px;
}
.about-me .description-about p {
    margin: 40px 0;
    padding: 0 25px;
}
.description-about .education {
    margin-bottom: 50px;
}
.description-about .education h1{
    margin-bottom: 30px;
}
.description-about .education p {
    margin: 0;
    padding: 0 20px;
}