* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
}
.app-header .box h3 {
  margin: 0;
  margin-bottom: -15px;
  font-size: 24px;
  color: #606876;
}
.app-header .box h1{
  margin: 0;
  margin-bottom: -20px;
}
.app-header .box #web {
  font-size: 52px;
}
.app-header .box span{
  background-color: white;
  font-size: 0.3rem;
  margin-left: 5px;
}
.myDescription {
  margin-top: 35px;
}
.myDescription p{
  font-family:'Open Sans', sans-serif ;
  font-size: 13px;
  text-align: justify;
}
.app-header .myImg {
  display: flex;
  justify-content: center;
}
.app-header .myImg img{
  display: flex;
  height: max-content;
  width: 300px;
  border: 1px solid #4ECCA3;
  border-radius: 50%;
  margin-top: 55px;
  justify-content: end;
}
.description-about {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.description-about .description-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.description-about p{
  font-size: 12px;
}
.description-about hr{
  border: 1px solid #4ECCA3;
}
.description-about .education {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/*  */

@media screen and (min-width: 400px){
  .app-header .box h1{
  font-size: 42px;
  }
}